* {
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}


body {
    background-color: #6c9968;
    
}

:root {
    --color-primary: #FFE17B;
    --color-second: #fff;
    --color-terceira:#FDFFAE;
    --color-quarta: #E9FFC2;
    --color-quinta: #6c9968;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    transition: .3s;
}

a:hover {
    color: #FDFFAE;
}

.container-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-bar {
    border-bottom: 2px solid var(--color-quarta);
    padding: 0.8rem;
}

.nav-list {
    display: flex;
    gap: 1rem;
}
.name-title {
    color: #FFE17B;
    font-size: 2.5rem;
    font-weight: 600px;
    font-family: 'Satisfy', cursive;
}

.sobre-mim {
    max-width: 960px;
    margin: 0 auto;
    padding: 1.5rem 2.5rem;
    
}

.title-sobre {
    text-align: center;
    color: #fff;
    font-size: 2.8rem;
    margin-top: 1.6rem;
}

.img-sobre {
    height: 300px;
}

.container-sobre {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    padding: 2rem 1.3rem;
    border-bottom: 2px solid var(--color-quarta);
}

.container-sobre p {
    color: #fff;
    font-size: 1.3rem;
    margin-top: .5rem;

}

/* Cardapio */

.cardapio {
    max-width: 1200px;
    margin: 0 auto;
}

.container-card {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid var(--color-quarta);
    margin-bottom: 2rem;
}

.card {
    width: 300px;
    margin: 1rem auto;
}

.card img {
    width: 300px;
    height: 200px;
    border: 3px solid var(--color-quarta);
}

.title-card {
    text-align: center;
    color: #fff;
    font-size: 2.6rem;
    margin: 3rem 0;
}
.card p {
    text-align: center;
    color: #fff;
    font-size: 1.1rem;
}

.card h3 {
    text-align: center;
    padding: .6rem;
    color: #f5d87b;
    font-size: 1.3rem;
}


/*Funcionamento/contato*/

.contato {
    background-color: var(--color-primary);
    padding: 1rem;
}

.container-contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 800px;
    margin: 0 auto;
    border-bottom: 2px solid var(--color-quarta);
}

.card-2 {
    color: #6c9968;
    text-align: center;
}

.card-2 h4,
.card-2 p {
    margin-top: 0.4rem;
    font-size: 1.3rem;
}
.title-2 {
    margin-top: 2rem;
}

.card-2 p
{
 color: #675D50;

}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-link a {
    font-size: 1.4rem;
    color: #675D50;
    border-radius: 50%;
    transition: 0.3s;
    padding: 0.8rem 1rem;
}

.social-link a:hover {
    background: var(--color-quinta);
    color: #fff;
}


/* Botao de pedido */

.pay {
    max-width: 200px;
    margin: 2rem auto;
 
}

 .pay a{
        display: block;
        height: 40px;
        line-height: 40px;
        font-size: 1.1rem;
        font-family: sans-serif;
        text-decoration: none;
        color: #333;
        border: 2px solid #333;
        letter-spacing: 2px;
        text-align: center;
        position: relative;
        transition: all .35s;
        text-transform: uppercase;
        font-weight: bold;
 }

 a span{
    position: relative;
    z-index: 2;
  }

.pay a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--color-quinta);
    transition: all .35s;
  } 

 .pay a:hover{
    color: #fff;
  }
  
.pay a:hover:after{
    width: 100%;
  } 

.address {
    background-color: #fff;
    padding: 2.5rem 1rem;
  }

.container-address {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 800px;
    margin: 0 auto;
    border-bottom: 2px solid black;
    gap: 180px;
}


.card-address {
    color: black;
    width: 400px;
    margin: 0 auto;
}

.card-address p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-bottom: 1rem;
}




.btn-address a {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
    border: 2px solid black;
    width: 20%;
    padding: .3rem .3rem;
    transition: .3s;
    
}

.btn-address a:hover {
    color: #fff;
    background-color: var(--color-quinta);
}

.copy {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1rem;
}

@media (max-width:425px) {
    .nav-bar {
        width: 810px;
        margin: 0 auto;
    }

    .container-nav {
        max-width: 800px;
        margin: 0 auto;
        flex-wrap: wrap;
    }

    .name-title {
        font-size: 2.6rem;
    }

    .nav-list a {
        font-size: 1.3rem;
        display: flex;
    }

    .sobre-mim {
        width: 740px;
        margin: 0 auto;
    }

    .container-sobre {
        margin-left: 2rem;
    }
    .img-sobre {
        height: 220px;
    }

    .container-sobre p {
        font-size: 1.3rem;
    }

    .cardapio {
        width: 820px;;
        margin: 0 auto;
        margin-bottom: 1rem;
    }

    .title-card {
        margin: 2rem 0;
    }

    .container-card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 770px;
        border: 0;
    }
    .card {
        width: 300px;
        margin: 0 auto;
    }

    .card img {
        width: 295px;
    }

    .card h3 {
        font-size: 1.4rem;
    }

    .card p {
        font-size: 1.3rem;
        margin-bottom: 1rem;

    }

    .contato {
       width: 800px;
       margin: 0 auto;
    }
    .container-contact {
       flex-direction: column;
       align-items: center;
       justify-content: center;
       margin: 0;
       border: none;
    }

    .title-2{
        margin-top: 1rem;
    }
    .title-1 {
        font-size: 1.8rem;
    }
    .card-2 h4 {
        font-size: 1.6rem;
    }
    .card-2 p {
        font-size: 1.4rem ;
    }

    .social-link a {
        font-size: 1.8rem;
    }

    
    .pay a {
    font-size: 1rem;
    font-weight: bold;
    }
    

    .address {
        width: 800px;
        margin: 0 auto;
    }

    .container-address {
        width: 720px;
    }

    .card-address h2 {
        font-size: 2rem;
    }

    .card-address p {
        font-size: 1.8rem;
    }
    .btn-address a {
        width: 40%;
        font-size: 1.8rem;
    }

    .copy {
        font-size: 1.9rem;
    }

}


























